things-to-fix

# College lists CSV raw data
college-lists-csv-raw/

# Uploaded files (user-generated content)
server/public/images/logo/*
!server/public/images/logo/.gitkeep
server/public/images/cover/*
!server/public/images/cover/.gitkeep
server/public/images/content-library/*
server/public/images/user-avatar/*
server/public/images/student-docs/*
server/public/documents/student-docs/*
server/public/videos/student-docs/*

server/public/images/submissions/*
server/public/documents/content-library/*
server/public/documents/submissions/*
server/public/videos/submissions/*

# Ignored Scripts
server/scripts/
rfe-app/.env
.DS_Store
*.apk
*.aab