things-to-fix

# College lists CSV raw data
college-lists-csv-raw/

# Uploaded files (user-generated content)
server/public/images/logo/*
!server/public/images/logo/.gitkeep
server/public/images/cover/*
!server/public/images/cover/.gitkeep

# Ignored Scripts
server/scripts/