NODE_ENV=development
PORT=4000

MONGODB_URI=xxxxxxxxxxxxxtes

JWT_SECRET=cfc2_super_secret_jwt_key_12345_make_it_very_long_and_secure
JWT_EXPIRE=30d

CLIENT_URL=http://192.168.0.16:3000
SERVER_URL=http://192.168.0.16:4000
STRAPI_URL=http://192.168.0.16:1337

PAYLOAD_SECRET=your-super-secret-key-here-min-32-chars

# Email Configuration (Zeptomail)
ZEPTOMAIL_API_KEY=xxxxxo8kw1ACASiF9l+g==
ZEPTOMAIL_FROM_EMAIL=noreply@coinsforcollege.org
ZEPTOMAIL_FROM_NAME=Coins For College

RECAPTCHA_SECRET_KEY=xxxxxx