NODE_ENV=development
PORT=4000

MONGODB_URI=mongodb+srv://aman:sujata12@cfc2demo.dqzhcd7.mongodb.net/?retryWrites=true&w=majority&appName=cfc2demo

JWT_SECRET=cfc2_super_secret_jwt_key_12345_make_it_very_long_and_secure
JWT_EXPIRE=30d

CLIENT_URL=http://192.168.0.16:5173
SERVER_URL=http://192.168.0.16:4000
STRAPI_URL=http://192.168.0.16:1337

PAYLOAD_SECRET=your-super-secret-key-here-min-32-chars

# Email Configuration (Zeptomail)
ZEPTOMAIL_API_KEY=wSsVR61x/kPzXft/njWtJuY/kAwEDl2iEh4v2wGh73OoTfGQosdtk0fJDQH1HqAeQDFuEzJGpep4mhdRgDYMho8kw1ACASiF9mqRe1U4J3x17qnvhDzCXmtalxWMLo0LwQhokmhnEskl+g==
ZEPTOMAIL_FROM_EMAIL=noreply@coinsforcollege.org
ZEPTOMAIL_FROM_NAME=Coins For College